# Ambiente virtual
venv/

# Cache Python
__pycache__/
*.pyc

# Variáveis de ambiente
.env

# VSCode
.vscode/

# JetBrains
.idea/

# Logs
*.log

# Arquivos temporários
*.tmp

#arquivos guides
*guide.txt

#testes
test/

#Imports
imports/*
